<div class="row">
    <div class="col-sm-8">
      <div class="card m-5 shadow">
        <div class="card-header m-0 p-2">
          <h2>Offer Details</h2>
        </div>
        <div class="card-body" *ngIf = "offer">
  
            <dl class="row">
                <dt class="col-sm-3">Title</dt>
                <dd class="col-sm-9">{{ offer.offerTitle }}</dd>
              
                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">
                  <p>{{ offer.offerDescription }}</p>
                  
                </dd>
                
                <dt class="col-sm-3">Posted On</dt>
                <dd class="col-sm-9">{{ offer.offerOpenedDate }}</dd>

                <dt class="col-sm-3">Category</dt>
                <dd class="col-sm-9">{{ offer.category.categoryName }}</dd>
              
                <dt class="col-sm-3">Price</dt>
                <dd class="col-sm-9">{{ offer.offerPrice }}</dd>
              
                <dt class="col-sm-3 text-truncate">Negotiable</dt>
                <dd class="col-sm-9">{{ offer.offerNegotiable == true ? "YES" : "NO" }}</dd>
                
                <dt class="col-sm-3">Likes</dt>
                <dd class="col-sm-9">{{ likeCount }}</dd>
                <br>

                <dt *ngIf="showEngage" class="col-sm-3">Liked ?</dt>
                <dd *ngIf="showEngage" class="col-sm-9"><button name="btn-like" type="button" (click)="like()">
                  <i class="fa fa-thumbs-o-up" *ngIf="!likes" id="like" aria-hidden="true"></i>
                  <i class="fa fa-thumbs-up"  *ngIf="likes" aria-hidden="true"></i>
                </button></dd>
                
                <dt class="col-sm-3">
                  <div *ngIf="showEngage" class="btn btn-primary" (click)="engage(offer.offerId)">Engage</div>
                </dt>
              </dl>
              
        </div>
      </div>
    </div>
  </div>