<!--
	<nav class="navbar background">

		<ul class="nav-list">
		
		<li><a href="#Home">Home</a></li>
		
		<li><a href="#Topics">Topics</a></li>
		
		<li><a href="#ContactUs">Contact Us</a></li>
		
		<li><a href="#AboutUs">About Us</a></li>
		
		</ul>
		
    -->
	
		
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3">
				<form class="register-form">
					<h2 class="text-center text-primary">Register Now</h2>
					<hr>
				  	<div class="form-group">
				    	<label>Email Address</label>
				    	<input type="email" class="form-control" placeholder="Enter email">
				    	<span class="hint alert-success">Enter you valid email id</span>
				  	</div>
				  	<div class="form-group">
				    	<label>Password</label>
				    	<input type="password" class="form-control" placeholder="Password">
				    	<span class="hint alert-primary">Password should be 8 or up chars </span>
				  	</div>
				  	<div class="form-group">
				    	<label>Re-enter Password</label>
				    	<input type="password" class="form-control" placeholder="Password">
				    	<span class="hint alert-primary">Re-enter same password</span>
				  	</div>
				  	<div class="form-group form-check">
				    	<input type="checkbox" class="form-check-input">
				    	<label class="form-check-label">Remember me</label>
				  	</div>
				  	<hr>
					<button type="submit" class="btn btn-primary float-right">Register</button>
					<p class="text-center mt-2 mb-0 float-left">If you have account <a href="#" class="text-primary">Sign In</a></p>
				</form>
			</div>
		</div>
	</div>
    <footer class="background">

		<p class="text-footer">
	
		Copyright @-All rights are reserved
		
		</p>
		
		</footer>


