/* * {
    border-radius: 5px;
}

body.thumb {
    transform: scale(0.4);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

main {
    min-height: 80vh;
}

[class*='container'] {
    border: 1px dashed #eee;
    background-clip: content-box;
}

.row [class*='col'] {
    background-color: #efefef;
    background-clip: content-box;
}

.nav-item {
    background-color: #eeeeff;
    background-clip: content-box;
} */

/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}


/* .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    /* background-color: #f5f5f5;
    border-right: 1px solid #eee;
    width: 180px;
}

    
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 220px; /* 180 + 40 */
    /* }
} */ 
