.fluid-container{

    background-image: url("/assets/images/download.jpg");
    
    background-repeat: no-repeat;
    padding-bottom: 1cm;
    background-size: cover ;

    background-blend-mode: soft-light;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    
    
    display: flex;
    justify-content: center;
   }
   .background {
    background-color:rgb(51,153,255);
    background-blend-mode: darken;
    background-size: cover;
    
   }

   .card{
    width: 25%;
    
   }



    