
<nav class="navbar navbar-expand-lg bg-light bg-transparent">
	<a class="navbar-brand" routerLink="/home"><b><i>Corperate Classifieds</i></b></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	  <ul class="navbar-nav">
		<li class="nav-item active">
		  <a class="nav-link" routerLink="/main-page/employee-home">Home </a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLink="/contact">Contact</a>
		</li>
	  </ul>
	</div>
  </nav>  
  <div class="container-fluid overflow-hidden">

    <div class="row vh-100 overflow-auto">

        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex bg-light sticky-top">

            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">

                <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-dark text-decoration-none">

                    <span class="fs-5">Menu<span class="d-none d-sm-inline"></span></span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a (click)=goToProfile() class="nav-link px-sm-0 px-2">
                            <i class="fa fa-user" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a (click)=goToPostAnOffer() data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">Post an Offer</span> </a>
                    </li>
                    <li>
                        <a (click)=goToMyOffers() class="nav-link px-sm-0 px-2">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">My Offers</span></a>
                    </li>
                    <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2" (click)="logout()">
                          <i class="fa fa-sign-out" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">Log Out</span> </a>
                  </li>
                </ul>
              
            </div></div>
            
       
      <div class="col">
       <!--<div class="col d-flex flex-column h-sm-100">-->
      
            <router-outlet></router-outlet>

            <!-- <footer class="row bg-light py-4 mt-auto">
              <p class="text-footer" style="text-align: center;">
                  Copyright @-All rights are reserved
              </p>
          </footer> -->
      </div>
  </div>
            <!-- </div></div></div> -->

  