
<!-- <header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand page-header" href="#">Corperate Classifieds</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header> -->

<header class="py-3 border-bottom bg-primary">
    <div class="container-fluid align-items-center d-flex p-4">
        
        <div class="flex-shrink-1">
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none">
                <!-- <a class="navbar-brand page-header" href="#">Corperate Classifieds</a> -->
                <!-- <a class="navbar-brand page-header mx-4" href="#"><h2>Corperate Classifieds</h2></a> -->
            </a>
        </div>
        
        <div class="flex-grow-1 d-flex align-items-center">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">
                <a class="navbar-brand page-header mx-4" href="#"><h2>Corperate Classifieds</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto ">
                    <li class="nav-item active m-2">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item m-2">
                      <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item m-2">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                  </ul>
                </div>
              </nav>
            <!-- <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://via.placeholder.com/28?text=!" alt="user" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser2" style="">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</header>

<div class="container-fluid overflow-hidden">
    <div class="row overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5">M<span class="d-none d-sm-inline">enu</span></span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link px-sm-0 px-2">
                            <i class="fa fa-etsy" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
                            <i class="fa fa-etsy" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">Post an Offer</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-sm-0 px-2">
                            <i class="fa fa-etsy" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">My Offers</span></a>
                    </li>
                    
                </ul>
                <!-- <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Joe</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100">
            <!-- <app-employee-home></app-employee-home> -->
            <!-- <app-profile></app-profile> -->
            <router-outlet></router-outlet>
            
            <!-- <div class="row bg-primary">
                <div class="row" style="margin-bottom: 0cm;margin-top: 0cm;">
                    <div class="col-sm-1"  style="margin-bottom:0cm;width: 60%;" align="right">
                      <button type="button" class="btn bg-secondary" >Filter by category</button>
                    </div>
                    <div class="col-sm-1"  style="margin-bottom:0cm;width: 15%;" align="center">
                      <button type="button" class="btn bg-secondary" >Filter by top likes</button>
                    </div>
                    <div class="col-sm-1"  style="margin-bottom:0cm;width: 25%;" align="center">
                      <div class="rightNav">
                        <ul class="nav-list">
                          <li><input type="text" name="search" id="search" placeholder="filter by posted-date"></li>
                          <li><button class="btn">Search</button></li>
                        </ul>
                      </div>
                   </div>
                  </div>
            </div>
            <main class="row overflow-auto">
                <div class="col-sm-4 col-md-4">
                    <div class="card m-3">
                      <div class="card-body">
                        <div class="container-fluid" > 
                          <h1 class="card-title" align="center"><i class="fa fa-car" style="padding-top: 0.2cm;" aria-hidden="true"></i></h1>
                        </div>
                        <p class="card-text">Posted date</p>
                        <p class="card-text">Engaged</p>
                        <p class="card-text">Status</p>
                        <p class="card-text">Catagory</p>
                        <p class="card-text">Like</p>
                        <a href="#" class="btn btn-primary btn-md btn-block" style="width: 100%;">Open</a>
                      </div>
                    </div>
                </div>
                
                <div class="col-sm-4 col-md-4">
                    <div class="card m-3">
                      <div class="card-body">
                        <div class="container-fluid" > 
                          <h1 class="card-title" align="center"><i class="fa fa-car" style="padding-top: 0.2cm;" aria-hidden="true"></i></h1>
                        </div>
                        <p class="card-text">Posted date</p>
                        <p class="card-text">Engaged</p>
                        <p class="card-text">Status</p>
                        <p class="card-text">Catagory</p>
                        <p class="card-text">Like</p>
                        <a href="#" class="btn btn-primary btn-md btn-block" style="width: 100%;">Open</a>
                      </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="card m-3 ">
                      <div class="card-body">
                        <div class="container-fluid" > 
                          <h1 class="card-title" align="center"><i class="fa fa-car" style="padding-top: 0.2cm;" aria-hidden="true"></i></h1>
                        </div>
                        <p class="card-text">Posted date</p>
                        <p class="card-text">Engaged</p>
                        <p class="card-text">Status</p>
                        <p class="card-text">Catagory</p>
                        <p class="card-text">Like</p>
                        <a href="#" class="btn btn-primary btn-md btn-block" style="width: 100%;">Open</a>
                      </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="card m-3 ">
                      <div class="card-body">
                        <div class="container-fluid" > 
                          <h1 class="card-title" align="center"><i class="fa fa-car" style="padding-top: 0.2cm;" aria-hidden="true"></i></h1>
                        </div>
                        <p class="card-text">Posted date</p>
                        <p class="card-text">Engaged</p>
                        <p class="card-text">Status</p>
                        <p class="card-text">Catagory</p>
                        <p class="card-text">Like</p>
                        <a href="#" class="btn btn-primary btn-md btn-block" style="width: 100%;">Open</a>
                      </div>
                    </div>
                </div> -->
                <!-- <div class="row pt-4"> -->

                    
            <!-- </main> -->
            <!-- <footer class="row bg-light py-4 mt-auto">
                <div class="col"> Footer content here... </div>
            </footer> -->
        </div>
    </div>
</div>